.container {
  position: absolute;
  width: 950px;
  height: 320px;

  .player {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 5;
    &.winner {
      z-index: 152;
    }

    .avatar {
      width: 80px;
      height: 80px;
      border: 5px solid #162738;
      z-index: 4;
    }
    .player-info {
      position: absolute;
      width: 180px;
      height: 80px;
      background: #162738;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      top: 0;
      left: 40px;
      z-index: 3;
      box-shadow: 0 0 15px 5px #0c0c0c75;
      transition: 0.5s all;
    }
  }
}
.bankrupt {
  position: absolute;
  background: rgb(214, 53, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  rotate: -35deg;
  border-radius: 5px;
  top: 25px;
  left: -5px;
  width: 90px;
  height: 25px;
}
.all-in {
  position: absolute;
  background: #d68b35;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  border-radius: 5px;
  top: 25px;
  left: -5px;
  width: 90px;
  height: 25px;
}
.player-notification {
  position: absolute;
  align-items: center;
  justify-content: center;
  background: #2e7d32;
  width: auto;
  padding: 0 10px;
  border-radius: 6px;
  height: 24px;
  z-index: 15;
  opacity: 0;
  top: -10px;
  left: 0;
  box-shadow: 0 0 15px 5px #0c0c0c50;
  transform: rotate(10deg);
  scale: 80%;
  animation: Bot-notification-animation 0.5s ease-in-out 1 forwards;
  &.type-fold {
    background: #353535;
  }
  &.type-call {
    background: #1b79d2;
  }
  &.type-raise {
    background: #2e7d32;
  }
  &.type-all-in {
    background: #e29f39;
  }
}
@keyframes Bot-notification-animation {
  100% {
    opacity: 1;
    transform: translateY(-10px);
    scale: 100%;
  }
}
