@mixin bot-card {
  width: 75px;
  height: 125px;
  background: linear-gradient(
    -45deg,
    rgba(112, 122, 140, 1) 50%,
    rgba(108, 116, 137, 1) 52%
  );
  border: 3px solid rgb(224, 224, 224);
  border-radius: 7px;
}

.cards-container {
  width: 220px;
  position: relative;

  .bot-card {
    @include bot-card;
    position: absolute;

    bottom: 40px;
    z-index: 1;

    .card-revealed {
      width: 70px;
    }
  }
}
.user-cards-container {
  position: absolute;
  bottom: -30px;
  width: 1200px;
  .user-card {
    @include bot-card;

    width: 150px;
    height: 225px;
    .user-card-revealed {
      width: 100%;
    }
  }
}
