@mixin bot-card {
  width: 75px;
  height: 125px;
  background: linear-gradient(
    -45deg,
    rgba(112, 122, 140, 1) 50%,
    rgba(108, 116, 137, 1) 52%
  );
  transform: rotateY(0.5turn);
  border: 3px solid rgb(224, 224, 224);
  border-radius: 7px;
}

.cards-container {
  width: 220px;
  position: relative;

  .bot-card {
    @include bot-card;
    position: absolute;

    bottom: 40px;
    z-index: 1;
    &.folded {
      transform: rotatex(50deg) translateY(40px) !important;
      background: linear-gradient(
        -45deg,
        rgb(90, 97, 110) 50%,
        rgb(86, 92, 105) 52%
      );
      border: 3px solid rgb(114, 114, 114);
    }

    .card-image {
      // Refers to image of real card
      width: 70px;
      opacity: 0;

      &.revealed {
        animation: cardImageReveal 0.5s ease-in-out 1 forwards;
      }
    }
  }
}
.bot-card-animated-reveal {
  animation: cardReveal 1s ease-in-out 1 forwards;
}

@keyframes cardReveal {
  50% {
    box-shadow: 0px 0px 15px 15px #d32626;
  }
  100% {
    transform: rotateY(0turn);
  }
}
@keyframes cardImageReveal {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-cards-container {
  position: absolute;
  bottom: -30px;
  width: 1200px;
  .user-card {
    @include bot-card;
    overflow: hidden;
    width: 150px;
    height: 225px;
    .user-card-revealed {
      width: 100%;
      &.user-card-image-folded {
        opacity: 0.5;
      }
    }
  }
  .shiny-texture {
    position: absolute;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 35%,
      rgba(241, 241, 241, 0.4) 50%,
      rgba(39, 39, 39, 0.2) 65%
    );
    width: 100%;
    height: 100%;
    top: 0;
    animation: shinyTextureAnim 8s ease infinite;
  }
}

.userCardOpeningLeftAnim {
  animation: userCardOpeningLeft 1s ease-in-out 1 forwards;
}
.idleAnimationLeft {
  animation: idleAnimLeft 8s ease infinite;
}
.userCardOpeningRightAnim {
  animation: userCardOpeningRight 0.8s ease-in-out 1 forwards;
}
.idleAnimationRight {
  animation: idleAnimRight 8s ease infinite;
}

@keyframes shinyTextureAnim {
  0%,
  100% {
    transform: translateY(0%) rotate(50deg) scale(250%);
  }
  50% {
    transform: translateY(-5px) rotate(25deg) scale(250%);
  }
}

@keyframes userCardOpeningLeft {
  0% {
    transform: translateY(215px) rotate(0deg) rotateZ(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-12deg) rotateY(30deg);
    box-shadow: -25px 75px 15px 15px #0c0c0c60;
  }
}
@keyframes userCardOpeningRight {
  0% {
    transform: translateY(215px) rotate(0deg) rotateZ(0deg);
  }
  100% {
    transform: translateY(0px) rotate(12deg) rotateY(-30deg);
    box-shadow: -15px 75px 15px 15px #0c0c0c60;
  }
}
@keyframes idleAnimLeft {
  0%,
  100% {
    transform: translateY(0px) rotate(-12deg) rotateY(30deg);
    box-shadow: -25px 75px 15px 15px #0c0c0c60;
  }
  50% {
    transform: translateY(5px) rotate(-14deg) rotateY(40deg);
    box-shadow: -25px 75px 15px 15px #0c0c0c60;
  }
}
@keyframes idleAnimRight {
  0%,
  100% {
    transform: translateY(0px) rotate(12deg) rotateY(-30deg);
    box-shadow: -15px 75px 15px 15px #0c0c0c60;
  }
  50% {
    transform: translateY(12px) rotate(14deg) rotateY(-35deg);
    box-shadow: -15px 75px 15px 15px #0c0c0c60;
  }
}
.avatar.isPlaying {
  box-shadow: 0 0 15px 5px #1976d2;
}
