.total-pot-container {
  position: absolute;

  font-family: "Oswald", sans-serif;
  top: 20px;
}
.total-pot-card {
  background: radial-gradient(
    circle,
    rgba(26, 47, 68, 1) 0%,
    rgb(20, 34, 48) 100%
  );
}

.hierarchy-help-button {
  position: absolute;
  right: 0;
  height: 140px;
  width: 30px;
  top: 50px;
  font-family: "Oswald", sans-serif;
  overflow: visible !important;
}
.hierarchy-help-card {
  transition: 0.4s all;
  position: absolute;
  width: 350px;
  height: 395px;
  right: -500px;
  top: 50px;
  z-index: 152;
}
.help-visible {
  right: 40px;
}
.user-credits-container {
  position: absolute;
  right: 100px;
  bottom: 25px;
  width: 250px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(26, 47, 68, 1) 0%,
    rgb(20, 34, 48) 100%
  );
  font-size: 32px;
  color: white;
}
.user-buttons-container {
  position: absolute;
  width: 420px;
  height: 50px;
  left: 100px;
  bottom: 25px;
  .user-button {
    width: 133px;
  }
}
.menu-button {
  width: 133px;
  position: absolute;
  left: 100px;
  top: 25px;
}

.blackout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.blackout-true {
    visibility: visible;
    z-index: 149;
    animation: blackout-animation 1s linear 1 forwards;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #e8cba0;
    &.progress-true {
      animation: progress-animation 5s linear 1 forwards;
    }
  }
}

.player-turn-effect {
  position: absolute;
  width: 100vw;
  height: 50px;
  background: linear-gradient(
    0deg,
    rgba(62, 169, 231, 0.25) 0%,
    rgba(100, 158, 222, 0) 100%
  );
  opacity: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: 1s all;
  &.isPlaying {
    opacity: 1;
  }
}

.notification-animation {
  opacity: 0;
  transform: translateY(-10%);
  animation: animationPopUp 0.5s ease-in-out 1 forwards;
  background: radial-gradient(
    circle,
    rgba(26, 47, 68, 1) 0%,
    rgb(20, 34, 48) 100%
  );
}

@keyframes animationPopUp {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes blackout-animation {
  100% {
    opacity: 1;
  }
}
@keyframes progress-animation {
  100% {
    width: 100%;
  }
}
