.total-pot-container {
  position: absolute;

  font-family: "Oswald", sans-serif;
  top: 20px;
}

.hierarchy-help-button {
  position: absolute;
  right: 0;
  height: 240px;
  width: 30px;
  top: 50px;
  font-family: "Oswald", sans-serif;
  overflow: visible !important;
}
.hierarchy-help-card {
  transition: 0.4s all;
  position: absolute;
  width: 350px;
  height: 384px;
  right: -500px;
  top: 50px;
  z-index: 10;
}
.user-credits-container {
  position: absolute;
  right: 100px;
  bottom: 25px;
  width: 250px;
  height: 100px;
  background-color: #162738;
  font-size: 32px;
  color: white;
}
.user-buttons-container {
  position: absolute;
  width: 420px;
  height: 50px;
  left: 100px;
  bottom: 25px;
  .user-button {
    width: 133px;
  }
}
.menu-button {
  width: 133px;
  position: absolute;
  left: 100px;
  top: 25px;
}
