* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all;

  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://img.oboilux.ru/upload/iblock/7e8/7e85685becf24047a2710ccab91297d4.jpg);
  background-size: contain;
  // background-image: url(./assets/green-texture.webp);
}
