.reaction-time-button {
  background: #1976d2;
  transition: 1s all;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  border-radius: 3px;
  min-height: 60px;
  .reaction-time-choice {
    height: 0;
    overflow: hidden;
    transition: 0.5s all;
    opacity: 0;
  }
  &:hover {
    padding-top: 15px;
    .reaction-time-choice {
      height: 60px;
      opacity: 1;
      margin-top: 15px;
    }
  }
}
.table-menu {
  width: 750px;
  height: 500px;
  rotate: -90deg;
  box-shadow: 0 0 25px 5px black;
  border: 25px solid #5e1b19;
  border-radius: 2000px;
  translate: 100px;
  .inner-table {
    width: 700px;
    height: 450px;
    background: radial-gradient(
      circle,
      rgba(91, 108, 124, 1) 0%,
      rgba(44, 69, 91, 1) 80%
    );
    border-radius: 2000px;
    box-shadow: inset 0 0 25px 5px black;
  }
}
